html, body, section {
    height: 100%; width: 100%;
    margin: 0;
}
section {
    overflow: hidden;
}
.clicker {
    background: #000000;
    opacity: 0.5;
    cursor: pointer;
    position: absolute;
    display: none;
    z-index: 9999;
}
#clicker-north {
    top: 0;
    left: 0;
    width: 100%;
    height: 5px;
    transition: all 1s ease-in-out;
}
#clicker-south {
    bottom: 0;
    left: 0;
    width: 100%;
    height: 5px;
    transition: bottom .4s ease-in-out;
}
#clicker-east {
    top: 0;
    right: 0;
    height: 100%;
    width: 5px;
    transition: right .4s ease-in-out;
}
#clicker-west {
    top: 0;
    left: 0;
    height: 100%;
    width: 5px;
    transition: left .4s ease-in-out;
}
#cards-perspective, .clicker {
    overflow: hidden;
}
h2 {
    display: block;
    margin: 0 auto;
    font-style: normal;
    font-family: verdana, arial, sans-serif;
    letter-spacing: 1px;
    font-size: 48px;
    width: 400px;
    padding-top: 200px;
    text-transform: uppercase;
    font-weight: 100 !important;
    color: white;
}
#cards-perspective {
    position: relative;
    width: 100%;
    height: 100%;
    perspective: 1200px;
    transform-style: preserve-3d;
}
.card {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    visibility: hidden;
    overflow: hidden;
    backface-visibility: hidden;
    transform: translate3d(0, 0, 0);
    z-index: 900;
}
.card-current,
.no-js .card {
    visibility: visible;
}
.card-onTop {
    z-index: 999;
}
#northwest {
    background: #0ac2d2;
}
#northeast {
    background: #60d7a9;
}
#north {
    background: #fdc162;
}
#southwest {
    background: #f68dbb;
}
#south {
    background: #cccccc;
}


/* Stacks */
#northwest-stack {
    z-index: 888;
    height: 100%;
    position: absolute;
    left: 0; top: 0;
    background: #999999;
    width: 100%;
    cursor: pointer;
}
#northwest-stack div {
    background: #0ac2d2;
    box-shadow: -3px 0 3px #666;
    height: 100%;
    position: absolute;
}
#northwest-stack .stack3 {
    left: 10px;
    height: 85%;
    width: 20px;
    top: 7.5%;
}
#northwest-stack .stack2 {
    left: 30px;
    height: 90%;
    width: 20px;
    top: 5%;
}
#northwest-stack .stack1 {
    left: 50px;
    height: 95%;
    width: 20px;
    top: 2.5%;
}


#northeast-stack {
    z-index: 888;
    height: 100%;
    position: absolute;
    right: 0; top: 0;
    background: #999999;
    width: 100%;
    cursor: pointer;
}
#northeast-stack div {
    background: #60d7a9;
    box-shadow: 3px 0 3px #666;
    height: 100%;
    position: absolute;
}
#northeast-stack .stack3 {
    right: 30px;
    height: 100%;
    width: 100%;
    top: 40px;
    text-align: right;
}
#northeast-stack .stack2 {
    right: 15px;
    height: 100%;
    width: 100%;
    top: 20px;
    text-align: right;
}
#northeast-stack .stack1 {
    right: 0px;
    height: 100%;
    width: 100%;
    top: 0;
    text-align: right;
}


#south-stack {
    z-index: 888;
    height: 100%;
    position: absolute;
    right: 0; top: 0;
    background: #999999;
    width: 100%;
    cursor: pointer;
}
#south-stack div {
    background:#CCCCCC;
    box-shadow: 3px 0 3px #666;
    height: 100%;
    position: absolute;
}
#south-stack .stack3 {
    right: 30px;
    height: 100%;
    width: 100%;
    top: 40px;
    text-align: right;
}
#south-stack .stack2 {
    right: 15px;
    height: 100%;
    width: 100%;
    top: 20px;
    text-align: right;
}
#south-stack .stack1 {
    right: 0px;
    height: 100%;
    width: 100%;
    top: 0;
    text-align: right;
}


/* Stack animations */
.northwest-slideEast {
    -webkit-animation: slideEast 0.4s ease both;
    -moz-animation: slideEast 0.4s ease both;
    animation: slideEast 0.4s ease both;
    box-shadow: -3px 0 3px #666;
    left:30px;
}

.northeast-slideWest {
    -webkit-animation: slideWest 0.4s ease both;
    -moz-animation: slideWest 0.4s ease both;
    animation: slideWest 0.4s ease both;
    box-shadow: 3px 0 3px #666;
    left:-10px;
    top:60px;
}
/*
.south-slideWest {
    -webkit-animation: slideWest 0.4s ease both;
    -moz-animation: slideWest 0.4s ease both;
    animation: slideWest 0.4s ease both;
    box-shadow: 3px 0 3px #666;
    left:-10px;
    top:60px;
} */
/* /Stacks */
/* Animations */
.card-moveToLeft {
    -webkit-animation: moveToLeft .5s ease both;
    -moz-animation: moveToLeft .5s ease both;
    animation: moveToLeft .5s ease both;
}

.card-moveFromLeft {
    -webkit-animation: moveFromLeft .5s ease both;
    -moz-animation: moveFromLeft .5s ease both;
    animation: moveFromLeft .5s ease both;
}

.card-moveToRight {
    -webkit-animation: moveToRight .5s ease both;
    -moz-animation: moveToRight .5s ease both;
    animation: moveToRight .5s ease both;
}

.card-moveFromRight {
    -webkit-animation: moveFromRight .5s ease both;
    -moz-animation: moveFromRight .5s ease both;
    animation: moveFromRight .5s ease both;
}

.card-moveToTop {
    -webkit-animation: moveToTop .5s ease both;
    -moz-animation: moveToTop .5s ease both;
    animation: moveToTop .5s ease both;
}

.card-moveFromTop {
    -webkit-animation: moveFromTop .5s ease both;
    -moz-animation: moveFromTop .5s ease both;
    animation: moveFromTop .5s ease both;
}

.card-moveToBottom {
    -webkit-animation: moveToBottom .5s ease both;
    -moz-animation: moveToBottom .5s ease both;
    animation: moveToBottom .5s ease both;
}

.card-moveFromBottom {
    -webkit-animation: moveFromBottom .5s ease both;
    -moz-animation: moveFromBottom .5s ease both;
    animation: moveFromBottom .5s ease both;
}

/********************************* keyframes **************************************/

/* move from / to  */

@-webkit-keyframes moveToLeft {
    to { -webkit-transform: translateX(-100%); }
}
@-moz-keyframes moveToLeft {
    to { -moz-transform: translateX(-100%); }
}
@keyframes moveToLeft {
    to { transform: translateX(-100%); }
}

@-webkit-keyframes moveFromLeft {
    from { -webkit-transform: translateX(-100%); }
}
@-moz-keyframes moveFromLeft {
    from { -moz-transform: translateX(-100%); }
}
@keyframes moveFromLeft {
    from { transform: translateX(-100%); }
}

@-webkit-keyframes moveToRight {
    to { -webkit-transform: translateX(100%); }
}
@-moz-keyframes moveToRight {
    to { -moz-transform: translateX(100%); }
}
@keyframes moveToRight {
    to { transform: translateX(100%); }
}

@-webkit-keyframes moveFromRight {
    from { -webkit-transform: translateX(100%); }
}
@-moz-keyframes moveFromRight {
    from { -moz-transform: translateX(100%); }
}
@keyframes moveFromRight {
    from { transform: translateX(100%); }
}

@-webkit-keyframes moveToTop {
    to { -webkit-transform: translateY(-100%); }
}
@-moz-keyframes moveToTop {
    to { -moz-transform: translateY(-100%); }
}
@keyframes moveToTop {
    to { transform: translateY(-100%); }
}

@-webkit-keyframes moveFromTop {
    from { -webkit-transform: translateY(-100%); }
}
@-moz-keyframes moveFromTop {
    from { -moz-transform: translateY(-100%); }
}
@keyframes moveFromTop {
    from { transform: translateY(-100%); }
}

@-webkit-keyframes moveToBottom {
    to { -webkit-transform: translateY(100%); }
}
@-moz-keyframes moveToBottom {
    to { -moz-transform: translateY(100%); }
}
@keyframes moveToBottom {
    to { transform: translateY(100%); }
}

@-webkit-keyframes moveFromBottom {
    from { -webkit-transform: translateY(100%); }
}
@-moz-keyframes moveFromBottom {
    from { -moz-transform: translateY(100%); }
}
@keyframes moveFromBottom {
    from { transform: translateY(100%); }
}

@-webkit-keyframes slideEast {
    to { -webkit-transform: translateX(40px); }
}
@-moz-keyframes slideEast {
    to { -moz-transform: translateX(40px); }
}
@keyframes slideEast {
    to { transform: translateX(40px); }
}
@-webkit-keyframes slideWest {
    to { -webkit-transform: translateX(-40px); }
}
@-moz-keyframes slideWest {
    to { -moz-transform: translateX(-40px); }
}
@keyframes slideWest {
    to { transform: translateX(-40px); }
}