#timeline {
    position: absolute;
    top: 0; left: 0;
    background: #ccc;
    box-shadow: 0 0 4px #666;
    width: 100%;
    overflow: hidden;
    z-index: 9990;
    display: none;
}
.slot {
    background: #fefefe;
    box-shadow: 0 0 8px #ccc inset;
    border: 1px solid #aaa;
    border-radius: 3px;
    height: 100px;
    position: absolute;
    top: 25px;
}
.slot:hover {
    box-shadow: 0 0 4px #fff;
    border: #3079ed solid 1px;
}
.slot div {
    margin-left: 10px;
    margin-top: 10px;
    font-family: arial, sans-serif;
    color: #343434;
}

/* Timeline timescale */
#timescale {
    width: 100%;
    overflow: hidden;
    list-style-type: none;

}
#timescale li {
    float: left;
    position: absolute;
    top: 0;
    font-size: 10px;
    width: 1px;
    overflow: visible;
}
#timescale li.halfhour {
    border-left: 1px solid #000;
    height: 4px;
    background: none;
}
/*
#timescale li div {
    width: 30px;
    background: url(../img/bg.png) 0 50% repeat-y;
    height: 15px;
} */

/* Timeline animations */
/* /Timeline animations */

#form {
    width: 400px;
    margin: 0 auto;
}