<!DOCTYPE html>
<html  ng-app="timeline">
<head>
    <title>Timeline Demo</title>
    <link rel="stylesheet" href="timeline.css" />
</head>
<body ng-controller="timelineController">
     <div id="timeline"> 
         <div class="slot" ng-repeat="scan in scans" style="width: {{scan.width}}px; left: {{scan.xpos}}px" load-scan-details="{{scan.sid}}"><div>{{scan.name}}</div></div>
     </div>

     <br />
     <br />
     <div id="form">
         <h4> {{type}} patient <span ng-show="type=='Edit'">{{name}}</span></h4>
         <input type="hidden" value="-1" ng-model="scanId" />
         Name<br/><input type="text" ng-model="scanName"/><br />
         Time in H:MM (24 hour format)<br/><input type="text" ng-model="scanXpos"/><br />
         Duration in mins<br/><input type="text" ng-model="scanWidth"/><br />
         <button add-scan>Add</button>
         <button reset-scan>Reset</button>
         
     </div>
     <script type="text/javascript" src="http://code.jquery.com/jquery-2.0.3.min.js"></script>
     <script type="text/javascript" src="angular.min.js"></script>
     <script src="timeline.js"></script>
</body>
</html>
 