#timeline {
    position: relative;
    top: 10px;
    left: 0;
    background: #aaa;
    border: 1px solid #999;
    box-shadow: 0 0 4px #666;
    height: 150px;
    width: 100%;
}
.slot {
    background: #fefefe;
    box-shadow: 0 0 8px #ccc inset;
    border: 1px solid #aaa;
    border-radius: 3px;
    height: 100px;
    position: absolute;
    top: 45px;
}
.slot:hover {
    box-shadow: 0 0 4px #fff;
    border: #666s solid 1px;
}
.slot div {
    margin-left: 10px;
    margin-top: 10px;
    font-family: arial, sans-serif;
    color: #343434;
}
#form {
    border: 1px solid #999999;
    border-radius: 6px;
    padding: 10px;
}