<!DOCTYPE html>
<html>
<head>
    <title>UMS</title>
    <link rel="stylesheet" href="css/style.css"/>
    <link rel="stylesheet" href="css/timeline.css"/>
</head>
<body ng-app="ums">

    <section ng-controller="mainController">
        
      <div class="content">
   <ul>
   	<li> <a <a href="#" show-privileges> Privileges</a></li>
   	<li> <a <a href="#" show-features> Features</a></li>
   	<li> <a <a href="#" show-roles> Roles</a></li>
   	<li> <a href="#" show-users> Users</a></li>
   	<li> <a href="#" show-role-feature-privilege> Role Privilege Feature</a></li>
   </ul>
	</div>

	

	<div id="privilegeSection" style="display: none;">
		<label> Privileges</label><br>
		<input type="text" ng-model="search"  placeholder="Search">
	
		<div ng-repeat="privilege in privileges | filter:search " >
			
		<input type="radio"  ng-model="$parent.valueprivilege" value="{{privilege.pid}}" ng-change="newValue()">
                {{privilege.title}}	 <br />
			
		</div>
		<input type="button" name="Edit"  value="Edit" show-edit-privilege/>
		<input type="button" name="Add"  value="Add" show-add-privilege/>
		<input type="button" name="Delete"  value="Delete" delete-privilege/>
		
		
		<br /> <br />
		<div id="addPrivilege" style="display: none;">
			<label > Add Privilege <br /></label>
			<input type="hidden" ng-value="-1" ng-model="pid" />
			 Privilege Name : <input type="text" ng-model="title" /> <br />
			 <button add-privilege>Submit</button>
		</div>
		
		<div id="editPrivilege" style="display: none;">
			<label > Edit Privilege <br /></label>
			<input type="hidden"  ng-model="privilegeEdit.pid" />
			 Privilege Name : <input type="text" ng-model="privilegeEdit.title"  /> <br />
			 <button edit-privilege>Submit</button>
		</div>
		
		
		
	</div>
	
	
	
	<div id="featureSection" style="display: none;">
		<label> Features </label><br>
		<input type="text" ng-model="search"  placeholder="Search">
		<table border="1px">
			<tr ng-repeat="feature in features | filter:search">
				<td> <input type="radio" name="radio" ng-model="$parent.valuefeature" value="{{feature.fid}}" ng-change='newValueFeature()'></td>
				<td> {{feature.title }}</td>
			</tr>
			
			
		</table>
		<input type="button" name="Edit"  value="Edit" show-edit-feature/>
		<input type="button" name="Add"  value="Add" show-add-feature/>
		<input type="button" name="Delete"  value="Delete" delete-feature />
		
		<br /> <br />
		<div id="addFeature" style="display: none;">
			<label > Add Feature <br /></label>
			<input type="hidden" ng-value="-1" ng-model="fid" />
			 Feature Name : <input type="text" ng-model="titleFeature" /> <br />
			 <button add-feature>Submit</button>
		</div>
		
		<div id="editFeature" style="display: none;">
			<label > Edit Feature <br /></label>
			<input type="hidden"  ng-model="featureEdit.fid" />
			 Feature Name : <input type="text" ng-model="featureEdit.title"  /> <br />
			 <button edit-privilege>Submit</button>
		</div>
		
		
	</div>
	
	
	<div id="roleSection" style="display: none;">
		<label> Roles </label><br>
		<input type="text" ng-model="search"  placeholder="Search">
		<table border="1px">
			<tr ng-repeat="role in roles | filter:search">
				<td> <input type="radio" name="radio" ng-model="$parent.valuerole" value="{{role.rid}}" ng-change='newValueRole()'></td>
				<td> {{role.title }}</td>
			</tr>
			
			
		</table>
		<input type="button" name="Edit"  value="Edit" show-edit-role />
		<input type="button" name="Add"  value="Add" show-add-role/>
		<input type="button" name="Delete"  value="Delete" delete-role/>
		
		
		<br /> <br />
		<div id="addRole" style="display: none;">
			<label > Add Role <br /></label>
			<input type="hidden" ng-value="-1" ng-model="rid" />
			 Role Name : <input type="text" ng-model="titleRole" /> <br />
			 <button add-role>Submit</button>
		</div>
		
		<div id="editRole" style="display: none;">
			<label > Edit Role <br /></label>
			<input type="hidden"  ng-model="roleEdit.rid" />
			 Feature Name : <input type="text" ng-model="roleEdit.title"  /> <br />
			 <button edit-role>Submit</button>
		</div>
		
	</div>
	
	
	<div id="userSection" style="display: none;">
		<label> Users </label><br>
		<input type="text" ng-model="search"  placeholder="Search">
		<table border="1px">
			<tr ng-repeat="user in users | filter:search ">
				<td> <input type="radio" name="radio" ng-model="$parent.valueuser" value="{{user.uid}}" ng-change='newValueUser()'></td>
				<td> {{user.Name }}</td>
			</tr>
			
			
		</table>
		<input type="button" name="Edit"  value="Edit" show-edit-user/>
		<input type="button" name="Add"  value="Add" show-add-user/>
		<input type="button" name="Delete"  value="Delete" delete-user/>
		
		
		<br /> <br />
		<div id="addUser" style="display: none;">
			<form name="myForm">
			<label > Add User <br /></label>
			<input type="hidden" ng-value="-1" ng-model="uid" />
			 User Name : <input type="text" ng-model="Name" /> <br />
			 Address : <input type="text" ng-model="Address" /> <br />
			  Email_id : <input type="email" name="email" ng-model="Email_id" required />
			  
<span class="error" ng-show="myForm.email.$error.email">
Not valid email!</span>
			   <br />
			 Phone_number : <input type="number" name="phonenumber"  ng-model="Phone_number"  required/> 
			 <span class="error" ng-show="myForm.phonenumber.$error.number">
Not valid number!</span>
			 <br />
			 Password : <input type="password" ng-model="Password" /> <br />
			  Department : <select ng-model="department" ng-options="c.title for c in departments"></select><br>
			  Supervisor : <select ng-model="supervisor" ng-options="c.Name for c in users"></select><br>
			  Role : <select ng-model="Role" ng-options="c.title for c in roles"></select><br>
			 <button add-user>Submit</button>
			 </form>
		</div>
		
		<div id="editUser" style="display: none;">
			<label > Edit User <br /></label>
			<input type="hidden"  ng-model="userEdit.uid" />
			 User Name : <input type="text" ng-model="userEdit.Name" /> <br />
			 Address : <input type="text" ng-model="userEdit.Address" /> <br />
			  Email_id : <input type="text" ng-model="userEdit.Email_id" /> <br />
			 Phone_number : <input type="text" ng-model="userEdit.Phone_number" /> <br />
			 Password : <input type="text" ng-model="userEdit.Password" /> <br />
			  department : <select ng-model="userEdit.department" ng-options="c.title for c in departments"></select><br>
			  supervisor : <select ng-model="userEdit.supervisor" ng-options="c.Name for c in users"></select><br>
			  Role : <select ng-model="userEdit.Role" ng-options="c.title for c in roles"></select><br>
			  <button edit-user>Submit</button>
		</div>
		
	</div>
	
	
	<div id="rolefeatureprivilegeSection" style="display: none;">
		<label> Role Features Privileges </label><br>
		<input type="text" ng-model="search"  placeholder="Search">
		<table border="1px">
			<tr ng-repeat="roleprivilegefeature in roleprivilegefeatures | filter:search">
				<td> <input type="radio" name="radio" ng-model="$parent.valueroleprivilegeFeature" value="{{roleprivilegefeature.pfrid}}" ng-change='newValueroleprivilegeFeature()'></td>
				<td> {{roleprivilegefeature.rid[0].title }}</td>
				<td> {{roleprivilegefeature.fid[0].title }}</td>
				<td> {{roleprivilegefeature.pid[0].title }}</td>
			</tr>
			
			
		</table>
		
		<input type="button" name="Add"  value="Add" show-add-role-privilege-feature/>
		<input type="button" name="Delete"  value="Delete" delete-role-privilege-feature/>
		
		
		<br /> <br />
		<div id="AddRolePrivilegeFeature" style="display: none;">
			<label > Add Role <br /></label>
			<input type="hidden" ng-value="-1" ng-model="rid" />
			 Role Name : <select ng-model="Role" ng-options="c.title for c in roles"></select> <br />
			 Feature Name : <select ng-model="Feature" ng-options="c.title for c in features"></select> <br />
			 Privilege Name : <select ng-model="Privilege" ng-options="c.title for c in privileges"></select> <br />
			 <button add-role-privilege-feature>Submit</button>
		</div>
		
		
		
	</div>
       
        <!-- Note: Inclusion order is important below -->
        <script type="text/javascript" src="lib/jquery-2.0.3.min.js"></script>
        <script type="text/javascript" src="lib/angular.min.js"></script>
        <script type="text/javascript" src="app/app.js"></script>
        <script type="text/javascript" src="app/factories.js"></script>
        <script type="text/javascript" src="app/services.js"></script>
        <script type="text/javascript" src="app/timelineController.js"></script>
        <script type="text/javascript" src="app/mainController.js"></script>

       <!-- ToDo: Refactor javascript into separate files and have a global app.js file to include all others -->
    </section>
</body>
</html>